@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #fafafa;
}

.container {
  width: 85%;
  margin: 25px auto;
}

.header {
  background-color: rgb(33, 33, 33);
}

.header p {
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  color: #fff;
  font-size: 30px;
  letter-spacing: 0.5px;
  padding: 20px 0;
}

.card-container {
  margin-top: 20px;
}

.card {
  border: 2px solid #5e227f;
  margin: 20px;
  padding: 18px;
  border-radius: 10px;
}

.card p {
  margin: 18px 0;
  font-size: 16px;
  font-style: italic;
}

span {
  font-weight: bold;
  font-size: 18px;
  font-style: normal;
}

a,
a:visited {
  text-decoration: none;
  color: black;
  border: 2px solid #5e227f;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
}

@media only screen and (min-width: 800px) {
  .header p {
    font-size: 40px;
    letter-spacing: 4px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card {
    width: 40%;
    margin: 30px 0;
  }
}
